---
import Layout from '../layouts/Layout.astro'
import MainNav from '../components/MainNav.svelte'
import SectionIntro from '../components/SectionIntro.svelte'
import SectionResume from '../components/SectionResume.svelte'
import SectionPortfolio from '../components/SectionPortfolio.svelte'
import SectionContact from '../components/SectionContact.svelte'
import { nav } from './index.data.js'
import { intro } from './index.data.js'
---

<Layout>
  <div class="crw-main">
    <div class="crw-main__nav">
      <MainNav logo={nav.logo} links={nav.links} client:load />
    </div>

    <div class="crw-main__content">
      <SectionIntro
        id={intro.id}
        headline={intro.headline}
        description={intro.description}
        subTitle={intro.subTitle}
        client:visible
      />

      <SectionResume client:visible />
      <SectionPortfolio client:visible />
      <SectionContact client:visible />
    </div>
  </div>
</Layout>

<style lang="scss">
  @use '../styles/vars';

  .crw-main {
    display: grid;
    grid-template-columns: calc(var(--sidebar-width) + var(--space)) 1fr;
    grid-template-areas: 'nav content';

    &__nav {
      grid-area: nav;
    }

    &__content {
      grid-area: content;
      display: flex;
      flex-direction: column;
      gap: var(--space-8);
    }
  }
</style>
